body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6,{
    margin: 0;
    font-family:'Montserrat', sans-serif;

    
}

div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.header{
    background: rgba(78,192,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 66px;
    color: #fff;
    padding-bottom: 145px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.offer{
    margin-top: 166px;
    width: 520px;
}

.title{
    font-size: 37px;           
}
.intro{
    margin-bottom: 45px;
    width: 400px;

}

.btn{
background: #ffd429;
display: block;
color: black;
text-decoration: none;
width: 222px;
padding: 24px 0;
text-align: center;
font-family:'Montserrat', sans-serif;
transition: all 0.5s ease;
}
.btn:hover{
    background: #c8a104;
}

span{
    font-size: 59px;
}

.desktop{
    margin-top: 78px;
}

.learn{
    padding-top: 113px;
    padding-bottom: 123px;
}
.section-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 63px;
}
.skills{
    justify-content: space-between;
    display: flex;
    margin-top: 86px;

}

.skill-title{
    font-size: 19px;
}
.skill{
    width: 300px;
    
    
}
.icons{
    margin-bottom: 35px;
}

.skill-text{
    font-size: 15px;
}

.mail{
    background: #ecf3f8;
    padding-top: 110px;
    padding-bottom: 105px;
}

.input{
    width: 343px;
    border: 1px #bbbbbb solid;
    border-radius: 2px;
    height: 47px;
    padding-left: 26px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.form{
  text-align: center;
}
.btnt{
background: #ffd429;
display: block;
color: black;
text-decoration: none;
width: 343px;
margin-left: 413px;
font-family:'Montserrat', sans-serif;
transition: all 0.5s ease;
height: 57px;
border: none;
}

.btnt:hover{
    background: #c8a104;
}

.footer{
    background: #164d7a;
    padding: 66px 0;
}

.credits{
    color: #b8c3cf;
    text-align: center;
    font-size: 14px;
}

    
    
